{% extends "layout.html" %} 

{% block content %}
<h3>{{ g.video.name }}</h3>
<div class="row mt-3">
    <div class="col-md-8 col-sm-12 col-12 align-self-center" id="video" style="height: 450px;"></div>
</div>
{% endblock %} 

{% block script %}
<script src="{{ url_for('static', filename='js/ckplayer/ckplayer.js') }}"></script>
<script>
var videoObject = {
    container: '#video',
    variable: 'player',
    autoplay: true,
    video: '{{ g.video.path }}'
};
var player = new ckplayer(videoObject);
</script>
{% endblock %}