<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Video Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.css') }}">
</head>

<body style="padding-top: 60px;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">{{ g.website_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% for i in g.categories %}
                <li class="nav-item">
                    <a class="nav-link" href="/index/{{ i.id }}">{{ i.name }}</a>
                </li>
                {% endfor %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">System</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/manage/category">Category Manage</a>
                        <a class="dropdown-item" href="/manage/video">Video Manage</a>
                        <a class="dropdown-item" href="/manage/user">User Manage</a>
                        <a class="dropdown-item" href="/manage/setting">Settings</a>
                        <a class="dropdown-item" href="javascript:;" onclick="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="p-1">
            <button type="button" class="btn btn-outline-primary">Add</button>
        </div>
        <div class="p-1 table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-warning">
                        <td scope="col" style="width: 60px;"></td>
                        <td scope="col">Name</td>
                        <td scope="col" style="width:150px;">Commands</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in g.rows %}
                    <tr>
                        <td scope="row" style="text-align: center;">{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="p-1">
            <nav aria-label="...">
                <ul class="pagination justify-content-start">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>

</html>